body{
	font-family: arial;
	background-color: #ccc;
}
.rangkasurat {
	width: 850px;
	margin:0 auto;
	background-color: #fff;
	padding: 20px
}

.tablekop {
	border-bottom: 5px solid #000;
	padding: 2px

}
.tengah {
	text-align: center;
	line-height: 5px;
}

h2 {
	text-indent: 50px;
	line-height: 25px;
    text-align: justify-all;
    position: center;
}

